
* {
  margin: 0;
  padding: 0;
  
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
  
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  max-width: 380px;
  max-height: 812px;
  min-width: 380px;
  min-height: 812px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
  background-color: #A0C4FF;
}
.header {
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    font-size: 34px;
    font-weight: 700;
    text-decoration: none;
    color: black;
  }
}
.navbar {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
      color: black;
      text-decoration: none;
      width: 80px;
      img {
        width: 40px;
      }
    }
  }
}
.main {
  height: calc(812px - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login {
  margin-top: 150px;
  form {
    display: flex;
    flex-direction: column;
    width: 330px;
    input {
      height: 45px;
      margin-bottom: 15px;
      border: 2px solid #A0C4FF;
      border-radius: 45px;
      background-color: white;
      padding-left: 15px;
    }
    input[type=text]:focus {
      border: 2px solid black;
      outline: none;
    }
  }
  .orBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
    div {
      height: 1px;
      width: 50px;
      background-color: black;
    }
    p {
      font-size: 14px;
    }
  }
}
.bigBTN {
  width: 330px;
  height: 45px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 45px;
  background-color: white;
}

.fridge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .fakeBTN {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 330px;
    height: 45px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 45px;
    background-color: white;
    text-decoration: none;
    color: black;
  }
  h4 {
    margin-left: 15px;
    margin-top: 2px;
  }
  p {
    margin-top: 50px;
    font-weight: 300;
  }
}



.product-cart-small {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  width: 330px;
  height: 45px;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}
.product-cart-container {
  .product-cart {
    width: 330px;
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 15px;
    }
    form {
      width: 310px;
      display: flex;
      flex-direction: column;
      label {
        font-size: 14px;
        margin-left: 5px;
        margin-bottom: 5px;
      }
      input {
        height: 40px;
        border: none;
        background-color: #e3e3e3;
        margin-bottom: 10px;
        padding: 0 10px;
        border-radius: 5px;
      }
      select {
        height: 40px;
        border: none;
        background-color: #e3e3e3;
        margin-bottom: 10px;
        padding: 0 10px;
        border-radius: 5px;
      }
      option {
        height: 40px;
        border: none;
        background-color: #e3e3e3;
        margin-bottom: 10px;
        padding: 0 10px;
        border-radius: 5px;
      }
      textarea {
        height: 120px;
        border: none;
        padding: 10px;
        background-color: #e3e3e3;
        border-radius: 5px;
        margin-bottom: 10px;
      }
    }
  }
}


.FridgeItem {
  .expiration-date {
    background-color: red;
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: white;
  }
}



.recipe-container {
  height: 600px;
  overflow: scroll;
}
.recipe-cart-small {
  width: 330px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .meal-dish-type {
    span {
      padding: 2px 8px;
      margin-right: 4px;
      background-color: #A0C4FF;
      border-radius: 15px;
    }
  }
}

/* Global styles */
.closeBTN {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}
.plusBTN {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.recipeBTN {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  margin-left: 10PX;
}
.favoriteBTN {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.product-icon {
  margin-left: 10px;
  margin-right: 10px;
  width: 35px;
  height: 35px;
}
.cart-headline {
  background-color: white;
  font-size: 16px;
  color: wheat;
}
.cart-headline-bold {
  margin-top: 2px;
  font-size: 16px;
}

.flex-center {
  display: flex;
  align-items: center;
  height: 40px;
  margin-right: 3px;
}


.loading-box {
  width: 330px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .loading {
    animation: loadingAnimation 1s ease 0s 10 normal forwards;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 24px;
  }
}
@keyframes loadingAnimation {
	0% {
		transform: rotate(0);
    opacity: 0;
	}

	100% {
		transform: rotate(360deg);
    opacity: 1;
	}
}
