
* {
  margin: 0;
  padding: 0;
  background-color: #A0C4FF;
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
  
}
.container {
  max-width: 375px;
  max-height: 812px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
}
.header {
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 34px;
    font-weight: 700;
  }
}
.navbar {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
      color: black;
      text-decoration: none;
      width: 80px;
      img {
        width: 40px;
      }
    }
  }
}
.main {
  height: calc(812px - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.login {
  margin-top: 150px;
  form {
    display: flex;
    flex-direction: column;
    width: 330px;
    input {
      height: 45px;
      margin-bottom: 15px;
      border: 2px solid #A0C4FF;
      border-radius: 45px;
      background-color: white;
      padding-left: 15px;
    }
    input[type=text]:focus {
      border: 2px solid black;
      outline: none;
    }
  }
  .orBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
    div {
      height: 1px;
      width: 50px;
      background-color: black;
    }
    p {
      font-size: 14px;
    }
  }
}

.bigBTN {
  width: 330px;
  height: 45px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 45px;
  background-color: white;
}

.fridge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .fakeBTN {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 330px;
    height: 45px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 45px;
    background-color: white;
  }
  img {
    width: 35px;
    height: 35px;
    background-color: white;
    margin-right: 12px;
  }
  h4 {
    background-color: white;
    margin-left: 15px;
    margin-top: 2px;
    font-weight: 300;
  }
  p {
    margin-top: 50px;
    font-weight: 300;
  }
}



.product-cart-small {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  border: 1px solid black;
  height: 50px;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 10px;
  .product-icon {
    width: 40px;
    height: 40px;
  }
  h4 {
    background-color: white;
  }
  img {
    width: 35px;
    height: 35px;
    background-color: white;
    margin: 0px 10px;
  }
  

}